* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: bisque;
    /* background-image: url(https://i.pinimg.com/564x/6f/48/52/6f48521251136531eed37fa42bcebdc8.jpg); */
    
  }
  .topnav {
    display: block;  
    overflow: hidden;
    padding: 10px 16px 10px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
  p {
    text-align:center; 
    vertical-align: middle;
    display: table-cell;   
  }
.recipe_container{
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: fit-content;
  }
.recipe_specs{
    display: grid;
    grid-template-columns: 50% 50%;
    
  }
.Chocolate {
  height: fit-content;
}
#bluediv{
  background-color: aqua;
  height: 40%;

}
#whitediv{
  background-color: white;
  height: 40%;

}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: #eee;}

#homebutton {color: green;}
#aboutbutton {color: dodgerblue;}
#contactbutton {color: orange;}
#recipebutton {color: red;}

#logo {
  display: inline-block;
  margin: 15px; /* margin: 20px was off */
  float: left;
  height: 60px;
  width: auto; /* correct proportions to specified height */
  border-radius: 50%; /* makes it a circle */
}
.search-container {
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}
.search-container input {
  font-size: 1em;
  padding: 0.6em;
  border: none;
  outline: none;
  border-bottom: 2px solid #202030;
}
.search-container button {
  font-size: 1em;
  background-color: #f4c531;
  border: none;
  font-weight: 600;
  border-radius: 0.3em;
